/* Common styles */

.fill-vertical {
  height: 100vh;
}

.chat-body {
  height: calc(100% - 70px);
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.scrolling {
  overflow-y: auto;
}

/* Welcome page */

.welcome-screen {
  background-color: lemonchiffon;
}

.welcome-text {
  margin-bottom: 30px;
}

.error-message {
  color: crimson;
  margin: 20px;
}

.welcome-button {
  box-shadow: 2px 2px 4px grey;
  background-color: sandybrown;
  color: antiquewhite;
  text-transform: uppercase;
  font-weight: 500;
}

/* Title bar */

.title-bar {
  background-color: khaki;
}

.title {
  color: darkslategrey;
  text-shadow: 2px 1px 2px darkkhaki;
}

.title-element {
  line-height: 62px;
}

.user-info-name {
  font-size: 20px;
  font-weight: bold;
}

/* Chat list pane */

.chat-list {
  padding: 20px;
  background-color: gainsboro;
  height: 100%;
  width: 100%;
}

.chat-list-heading {
  font-size: larger;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 5px;
}

.info-text {
  color: darkslategrey;
  font-size: small;
}

.chat-list-group {
  list-style: none;
  padding-left: 14px;
}

.chat-link {
  color: darkslategray;
}

.chat-link:hover {
  color: darkgray;
}

.selected-item {
  font-weight: bold;
}

.unread-count {
  margin-left: 7px;
  padding: 0px 6px;
  border-radius: 10px;
  color: aliceblue;
  background-color: lightseagreen;
  font-weight: bold;
}

.leave-button {
  margin-left: 7px;
  padding: 0px 3px;
  border-radius: 2px;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.1);
}

.leave-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: sandybrown;
}

.channel-selection-input {
  width: 100%;
  margin: 5px 0px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px;
}

/* Main chat window */

.chat-window {
  height: calc(100% - 100px);
}

.chat-placeholder-content {
  top: 20%;
  position: relative;
}

.chat-title-row {
  height: 50px;
  padding: 10px 20px;
}

.chat-title {

}

.message-history {
  vertical-align: bottom;
  width: 100%;
}

.text-input {
  height: 50px;
}

/* Messages */

.message {
  background-color: hsla(46, 100%, 50%, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  max-width: 80%;
}

.timestamp {
  font-size: 10pt;
  color: #999;
  margin: 3px;
}

.message-user-name {
  font-weight: bold;
  margin: 3px;
}

.message-body {
  padding: 5px;
}

.notification-message {
  font-style: italic;
}

/* Chat input box */

.chat-input-box {
  width: 80%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px;
}

.chat-submit {
  width: 20%;
  height: 100%;
  background-color: sandybrown;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: 400;
}

/* User list */

.user-list {
  padding: 20px;
  background-color: antiquewhite;
  height: 100%;
  width: 100%;
}

.user-list-heading {
  font-size: larger;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 5px;
}

.user-list-group {
  padding-left: 14px;
  margin-left: 14px;
}

.user-list-group:first-child {
  margin-top: 7px;
}

.user-list-item {
  color: darkslategray;
}

.user-list-item:hover {
  color: darkgray;
}
